
{% extends "shareable/html/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{%static 'home/css/instructions.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/getData.js'%}"></script>
{% endblock %}

{%block app_layout_content_before%}
<form class="formWrapper" autocomplete="off">
    <div class=" d-flex justify-content-center align-items-center">
        <div class="search">
            <span class="material-symbols-outlined">
                search
            </span>
            <input id="search" type="text" class="form-control" placeholder="Have a question? Ask Now">
        </div>          
    </div>
</form>
{%endblock%}

{%block content%}
    <div class="instructionWrapper">
            

    </div>
    
    
{%endblock%}
