
{% extends "shareable/html/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{%static 'home/css/instructions.css'%}">
{% endblock %}

{% block js %}

{% endblock %}

{%block app_layout_content_before%}

{%endblock%}

{%block content%}
    
    <div class="instruction">
        <div class="card">
            <h5 class="card-header">Instruction</h5>
            <div class="card-body">
              <h5 class="card-title">Lorem Ipsum</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsum pariatur ab delectus. Esse iusto dolores repellendus ullam hic! Quod, adipisci omnis! Rerum molestias mollitia itaque. A fuga velit vitae!</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
{%endblock%}
