{% extends "shareable/html/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{%static '/information/css/map.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/database/css/databaseresult.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
{% endblock %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script src="{%static '/information/js/mapleafLet.js'%}"></script>
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
crossorigin=""></script>
{% endblock %}

{%block app_layout_content_before%}
<button id="option" class="btn btn-primary">
    <span class="material-symbols-outlined">
    search
    </span>
</button>
<div id="queryContent" class="queryContent">
    <form id="query" action="" class="formQuery">
        <div class="block">
            <button id="exit"  class="btn btn-primary">
                <span class="material-symbols-outlined">
                close
                </span>
            </button>
            <button id="prev"  class="btn btn-primary">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </button>
            <button id="next"  class="btn btn-primary">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </button>
            <div class="form-floating">
                <input type="number" name="requestnum" class="form-control" id="requestnum" placeholder=" ">
                <label for="requestnum">request no.</label>
            </div>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="username" placeholder=" ">
                <label for="username">username</label>
            </div>

            <div class="form-floating">
                <select name="scientificName" class="form-select" id="scientific" aria-label="Floating label select example" >
                    <option value = '' selected>Open this select menu</option>
                    {% for pname in scientific%}
                    <option type="checkbox" value="{{pname}}">{{pname}}</option>
                    {%endfor%}
                </select>
                <label for="scientific">Plant Scientific Name</label>
            </div>
        </div>
        <div class="block">
            <div class="form-floating">
                <select name="localName" class="form-select" id="local" aria-label="Floating label select example">
                    <option value = '' selected>Open this select menu</option>
                    {% for pname in local%}
                    <option value="{{pname}}">{{pname}}</option>
                    {%endfor%}
                </select>
                <label for="local">Plant Local Name</label>
            </div>
            <div class="form-floating">
                <select name="type" class="form-select" id="type" aria-label="Floating label select example">               
                    <option value = '' selected>Open this select menu</option>
                    <option value="invasive">Invasive</option>
                    <option value="exotic">Exotic</option>

                </select>
                <label for="type">Plant Type</label>
            </div>
            <div class="form-floating">
                <select name="offset" class="form-select page" id="page" aria-label="Floating label select example">
                   
        
                </select>
                <label for="page">Page</label>
            </div>
            <div class="form-floating">
                <select name="limit" class="form-select page" id="perpage" aria-label="Floating label select example">               
                    <option value="1">1</option>
                    <option selected="selected" value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
                <label for="perpage">Per Page</label>
            </div>
            <button id="queryBtn" type="submit" class="btn btn-primary">
                <span class="material-symbols-outlined">
                search
                </span>
            </button>
        </div>
    </form>
   
</div>
{%endblock%}

{%block content%}


<div id="map"></div>

<div class="legends">
    {% for icon,scientificN,localN in plants %}
    <div class="items">
        {% with '/blobStorage/images/icons/'|add:icon  as iconPath%}
        <img src="{%static iconPath%}" class="icon" alt="" srcset="">
        <div class="label"><p>{{scientificN}}</p> <P>{{localN}}</P></div>
        {%endwith%}
    </div>
    {%endfor%}
</div>
<a href="https://www.flaticon.com/free-icons/location" title="location icons">Location icons created by IconMarketPK - Flaticon</a>
{%endblock%}
