<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classifier</title>
    {%load static%}
    {%include "shareable/html/stylesheet.html"%}
    {%include "shareable/html/cdn.html"%}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'classifier/css/dragDrop.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'classifier/css/camera.css'%}" />

    <script src="{%static 'shareable/js/csrf.js'%}"></script>
    <script src="{%static 'classifier/js/geotagging.js'%}"></script>
    <script src="{%static 'classifier/js/dragDrop.js'%}"></script>
    <script src="{%static 'classifier/js/camera.js'%}"></script>
</head>
<body>
    
    {%include "shareable/html/navbar.html"%}
    
    <div class="app-layout-content">
        <div class="content">
            <div class="upload-box">
                <form class="drop-area ias-images">
                    {% csrf_token %}
                    <span class="material-symbols-outlined">
                        file_upload
                    </span>
                    <div class="drop-area-buttons">
                        <input type="file" id="fileElem" multiple accept="image/*" onchange="uploadFile(this.files)">
                        <div id="file" multiple accept="image/*" class="drop-area-button">
                            <span class="material-symbols-outlined icon">
                                add_photo_alternate
                            </span>
                            <span class="text">
                                CHOOSE FILES
                            </span>
                        </div >
                        <input type="file" id="cameraElem" accept="image/*;capture=camera" onchange="uploadFile(this.files)">
                        <div id="camera" class="drop-area-button">
                            <span class="material-symbols-outlined icon">
                                add_a_photo
                            </span>
                            <span class="text">
                                CAMERA
                            </span>
                        </div>
                    </div>
                    
                    <span>or drop images here</span>

                    <div id="progress-percent" class="hidden">
                        <span class="text ">UPLOADING</span>
                        <span class="progress"></span>
                    </div>

                    <div class="camera-content">
                        <span id="arrow-right-btn" class="arrow-right material-symbols-outlined">
                            double_arrow
                        </span>
                        <video id="video"></video>
                    </div>
                </form>
            </div>
            
            

            <div id="raw" class="loaded-images hidden">
                
                
            </div>
            
            <span id="filter" class="button ">FILTER</span>
            <div id="preprocessed" class="loaded-images hidden">
                
                
            </div>
            <span id="classify" class="button hidden">CLASSIFY</span>

        </div>
        
    </div>

</body>
</html>