/* Set the size of the div element that contains the map */
#map {
    position: relative;
    height: calc(100% - 6rem);
    /* The height is 400 pixels */
    width: 90%;
    /* The width is the width of the web page */
    background-color: black;
    
}

