
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# pycache
__pycache__/
classifier/__pycache__/
classifier/migrations/__pycache__/
home/__pycache__/
home/migrations/__pycache__/
information/__pycache__/
information/migrations/__pycache__/
IASclassifier/__pycache__/

# virtual Environment
.venv/*

# #local database
# db.sqlite3

# static Blob Directory
static/blobStorage/images/raw/*/
static/blobStorage/images/temp/*/

# Data
static/classifier/classification_models/aug_x_train
static/classifier/classification_models/aug_y_train