:root{
    --navbar_height: 6rem;
    --clear: white;

    --green: rgb(16, 221, 125);
    --dark-green: rgb(48, 177, 138);
    --dark-green-opacity: rgba(40, 168, 130, 0.548);
    --blue-green: rgb(176, 255, 218);
    --light-green: rgb(216, 241, 230);
    --off-white: rgba(245, 245, 245, 0.788);
    --off-white-solid: rgba(245, 245, 245, 1);
    --gray: rgb(39, 38, 38);
    --light-gray: rgb(88, 87, 87);
    --phone-width: 600px;
}
*{
    margin: 0;
    padding: 0;
    font-family: lato-regular;
}
a{
    text-decoration: none !important;
    color: black !important;
}
@font-face {
    font-family: lato-regular;
    src: url(/static/shareable/fonts/Lato-Regular.ttf);
}
.blur{
    backdrop-filter: blur(10px) !important; 
}