
{% extends "shareable/html/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{%static 'analytics/css/analytics.css'%}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="{%static 'analytics/js/googlechartoption.js'%}" ></script>
<script src="{%static 'analytics/js/googlechart.js'%}"></script>

{% endblock %}

{%block app_layout_content_before%}

{%endblock%}

{%block content%}
<div class="">
    
</div>

<div class="card chartWrapper shadow1">
    <div class="card-header">
        Plant Count
    </div>
    <div class="card-body">
        <div id="PlantCount" class="chart"></div>
    </div>
</div>

<div class="card  shadow1">
    <div class="card-header">
        Invasive and Exotic Data Count
    </div>
    <div class="card-body chartWrapper">
        <div id="IASCount" class="chart"></div>
    </div>
</div>

<div class="card  shadow1">
    <div class="card-header">
        Plant Species Per Area
    </div>
    <div class="card-body chartWrapper">
        <div id="PlantAreaCount" class="chart"></div>
    </div>
</div>

 
    
{%endblock%}
