.alert{
    position:fixed;
    z-index: 4;
    margin-top: 1rem;
}
.upload-box{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25rem;
    background-color: white;
    padding: 1rem;
}


.drop-area{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px dashed black;
    border-radius: 5px;
    overflow: hidden;
    
}
.drop-area .material-symbols-outlined{
    font-size: 100px;
}
.drop-area .choose-files{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-area-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.drop-area-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: var(--green);
    padding: 5px;
    border-radius: 5px;
    margin: 1rem;

    cursor: pointer;
    user-select: none;
}
.drop-area-button:active{
    background-color: var(--blue-green);
}
.drop-area-button .icon{
    font-size: 40px;
}
.drop-area-button .text{
    margin: 1rem 1rem;
}

#progress-percent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(157, 221, 186, 0.842);
    padding: 1rem;
    position: absolute;
}
#progress-percent .text{
    font-size: 20pt;
}


.loaded-images{
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    width: 70%;
    height: 12rem;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    overflow-x: auto;
    overflow-y:hidden;
    z-index: 2 !important;
    bottom: 4rem;
    opacity: 0;
}
.button_{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: var(--green);
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    margin-top: 1rem;
    opacity: 0;
    bottom: 4rem;
    z-index: 1 !important;
}
.loaded-images .file-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: var(--off-white);
    min-height: 9rem;
    min-width: 8rem;
    width: 8rem;
    height: 7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 5px;
    white-space: nowrap;

    text-overflow: ellipsis;

}

.file-content .image{
    max-width: 7rem;
    max-height: 7rem;
}
.file-content .image-name{
    width: 8rem;
    font-size: 10pt;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-content .close-image{
    display: flex;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px !important;
    width: 2rem;
    height: 2rem;
    background-color: var(--green);
    right: -1rem;
    top: -1rem;
    border-radius: 100%;
}
/* Javascript addClass */
.highlight{
    background-color: var(--light-green);
    
}
.hidden{
    display: none !important;
}
.blur{
    backdrop-filter: blur(10px) !important; 
}
.disabled{
    background-color:var(--off-white) !important;

}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-6 18:53:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
  }
  
#fileElem,
#cameraElem{
    display: none;
}


@media only screen and (max-width: 600px) {
    .upload-box, #raw, #preprocessed{
        width: 90%;
    }
    .drop-area-buttons{
        flex-direction: column;
    }
    .drop-area-button{
        width: 90%;
    }
}