#submit{
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.table-responsive{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
}
.table{
    background-color: white;

}
.iasImageCol{
    width: 256px !important;
    height: 256px !important;
    overflow: hidden;
    
}
.tdCut{
    width: 15rem;
}
.cut-text { 
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 15rem; 
    white-space: nowrap;
  }
  .popup{
    display: none;
    position: absolute;
    font-size: 10pt;
    font-weight: normal;
    padding: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    color: var(--light-gray);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    margin-left: 1rem;
    z-index: 2;
}
.popup:before {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 20px;
	height: 0;
    background-color: white;
	border: 10px solid transparent;
	border-right-color: white;
	border-left: 0;
	top: 10px;
	left: -10px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    /* text-shadow: 22px 22px  rgba(99, 99, 99, 0.2); */
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
}
.vote{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 4rem !important;
    position: relative;
}
.vote .text{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 80%;
    text-align: center;
    white-space: nowrap;
    background-color: white !important;
    color: var(--light-gray);
}

.vote-icon{
    user-select: none;
    cursor: pointer;
    font-size: 30pt;
    font-weight: 900;
    color: var(--light-gray);
    position: relative;
}
.up:hover, .up.activate{
    color: var(--green);
}
.down:hover, .down.activate{
    color:rgb(255, 72, 0);
}

.up:hover .popup,.down:hover .popup{
    display: inline-block;
}
.iasImage{
    max-width: 256px;
    max-height: 256px;
}
.description{
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
}
.date{
    position: absolute;
    bottom: 0;
    margin-top: 1rem;
}
.plantName{
    font-weight: bolder;
}
.identifier{
    font-weight: bold;
}
.justify{
    text-align: justify;
    text-justify: inter-word;
}
.plantWrapper{
    display: flex;
    flex-direction: row !important;
    position: relative;
    /* flex-wrap: wrap; */
    height: 70vh;
    gap: 0 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    margin-bottom: 1rem;
}
.plantImage{
    position: relative;
    flex-shrink: 0;
    height: 100%;

}
.plantImage img{
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.alert{
    top: 0;
    position:absolute !important;
    z-index: 4;
   margin-top: 1rem;
}
@media only screen and (max-width: 960px) {
    .table-responsive{
        width: 100%;
    }
}