.queryContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: calc(90% - 2rem - 10px);
    padding: 1rem;
    background-color: white;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.queryContent .formQuery{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    
}
.block{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    gap: 10px;
}
.input-small{
    width: 7rem;
}
.edit_data{
    color:white;
    font-size: 12pt;
    padding: 0.2rem;
    border-radius: 0.2rem;
    user-select: none;
}
.edit_data:hover{
    background-color: var(--green) !important;
}
.page{
    width: 90px;
    height: 58px;
}
.table-responsive{
    margin-top: 5rem;
    width: 90%;
}
#queryBtn,#prev,#next{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 58px;
    height: 58px;
}
#option{
    display: none;
    top: 7.2rem;
    margin-left: 5%;
    align-self: start;
    z-index: 2;
}
#exit{
    display: none;
    width: 58px;
    height: 58px;
}

@media only screen and (max-width: 1791px) {
    .queryContent{
        width: calc(100% - 2rem);
    }
    .table-responsive{
        width: 100%;
    }
}
@media only screen and (max-width: 1479px) {
    .table-responsive{
        margin-top: 10rem;
    }
}
@media only screen and (max-width: 960px) {
    .queryContent{
        width: calc(100% - 2rem);
        background-color: white;
    }

}
@media only screen and (max-width: 866px) {
    .formQuery,
    .block{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .form-floating,#queryBtn,#prev,#next, .page{
        width: 100%;
    }
    /* .block{
         align-self: start; 
    } */
    .queryContent{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: start;
        width: 15rem;
        flex-wrap: nowrap;
        display: none;
        height: calc(100% - var(--navbar_height) - 5rem);
        overflow-y: auto;
        overflow-x: hidden;
    }
    .formQuery{
        /* height: 100%; */
        flex-wrap: nowrap;
    }
    .table-responsive{
        margin-top: 2rem;
    }
    #option{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
    }
    #exit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
    }
}

