<div class="_navbar">
    <div id="home" class="navbar-items">
        <a href="{% url 'home' %} " class="material-symbols-outlined navbar-icons">
            home
        </a>
        <a href="{% url 'home' %} " class="navbar-item-name">
            Home
        </a>
    </div>

    <div id="classifier" class="navbar-items">
        <a href="{% url 'classifier' %} " class="material-symbols-outlined navbar-icons">
            camera
        </a>
        <a href="{% url 'classifier' %} " class="navbar-item-name">
            Classifier
        </a>
    </div>

    <div id="Map" class="navbar-items">
        <a href="{% url 'information' %} " class="material-symbols-outlined navbar-icons">
            map
        </a>
        <a href="{% url 'information' %} " class="navbar-item-name">
            Map
        </a>
    </div>

    <div id="Info" class="navbar-items">
        <span class="material-symbols-outlined navbar-icons">
            table
        </span>
        <span class="navbar-item-name">
            Database
        </span>
    </div>
    {% load socialaccount%}
    <div id="Login" class="navbar-items">
            {% load account %}
            {%user_display user as acc%}
        <a href="{% provider_login_url 'google' method = 'oauth2' next=''%}" class="material-symbols-outlined navbar-icons" >
            {% if acc|length > 0 %}
                person
            {% else %}
                login
            {% endif %}
        </a>
        <a href="{% provider_login_url 'google' method = 'oauth2' next='' %}" class="navbar-item-name" next="">
            
    
            {% if acc|length > 0 %}
                {%user_display user%}
            {% else %}
                Login
            {% endif %}

        </a>
    </div>

</div>
