<div class="_navbar">
    <div id="home" class="navbar-items">
        <a href="{% url 'home' %} " class="material-symbols-outlined navbar-icons">
            home
        </a>
        <a href="{% url 'home' %} " class="navbar-item-name">
            Home
        </a>
    </div>

    <div id="classifier" class="navbar-items">
        <a href="{% url 'classifier' %} " class="material-symbols-outlined navbar-icons">
            camera
        </a>
        <a href="{% url 'classifier' %} " class="navbar-item-name">
            Classifier
        </a>
    </div>

    <div id="Map" class="navbar-items">
        <a href="{% url 'information' %} " class="material-symbols-outlined navbar-icons">
            map
        </a>
        <a href="{% url 'information' %} " class="navbar-item-name">
            Map
        </a>
    </div>

    <div id="Info" class="navbar-items">
        <a href="{% url 'viewdatabase' %}" class="material-symbols-outlined navbar-icons">
            table
        </a>
        <a href="{% url 'viewdatabase' %}" class="navbar-item-name">
            Database
        </a>
    </div>
    {% load socialaccount%}
    <div id="Login" class="navbar-items">
        {% load account %}
        {%user_display user as acc%}
        
        {% if acc|length > 0 %}
        <a href="/accounts/logout/" class="material-symbols-outlined navbar-icons" >
            logout
        </a>
        <a href="/accounts/logout/" class="navbar-item-name" next="">
            {%user_display user%}
        </a>     
        {% else %}
        <a href="{% provider_login_url 'google' method = 'oauth2' next='' %}" class="material-symbols-outlined navbar-icons" >
            login
        </a>
        <a href="{% provider_login_url 'google' method = 'oauth2' next='' %}" class="navbar-item-name" next="">
            Login
        </a>    
        {% endif %}
    </div>

</div>
