.account_link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    width: 30rem;
}
.account_link .link{
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    margin: 0 1rem 0 1rem;
    background-color: var(--green);
    border-radius: 5px;

}
.block_Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 30rem;
    padding: 1rem;
    margin-top: 4rem;
}
.button_{
    padding: 5px 10px 5px 10px;
    margin: 0 1rem 0 1rem;
    background-color: var(--green);
    border-radius: 5px;
}
.breakpoint-option{
    position: relative;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.breakpoint-option .text{
    position: absolute;
    color: var(--gray);
    background-color: var(--off-white-solid);
    padding: 0 1rem 0 1rem;
}
.breakpoint-option .line{
    width: 100%;
    height: 1px;
    background-color: var(--gray);
}
.alert{
    top: 0;
    position:absolute !important;
    z-index: 4;
   margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .block_Content{
        width: 90% !important;
    }
    .account_link{
        width: 90% !important;
        flex-direction: column;
    }
    .account_link .link:nth-child(1){
        margin-bottom: 1rem;
    }
    .account_link .link{
        width: 90%;
    }
}